.floating-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #F4D35E;
    border: none;
    padding: 10px;
    border-radius: 50%;
}

.floating-button-plus-icon{
    cursor: pointer;
}
